SHAFA_TELEGRAM_API_ID=
SHAFA_TELEGRAM_API_HASH=
SHAFA_VERBOSE_PHOTO_LOGS=0
SHAFA_LOG_CREATE_PRODUCT_REQUEST=0
SHAFA_OLD_PRODUCT_DEACTIVATE_BATCH_SIZE=1
SHAFA_BACKGROUND_OLD_PRODUCT_DEACTIVATE_MIN_INTERVAL_SECONDS=60
SHAFA_BACKGROUND_OLD_PRODUCT_DEACTIVATE_MAX_INTERVAL_SECONDS=180
